<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.mfw.member.model.dto.MemberDTO" alias="memberDTO"/>
		<typeAlias type="com.kh.mfw.board.model.dto.BoardDTO" alias="BoardDTO"/>
	</typeAliases>

	<!-- 
		environments: MyBatis를 이용해서 우리가 연동할 DBMS의 정보를 등록하는 태그
	-->
	<environments default="development">
		<environment id="development">
			<!--  
				* transactionManager: 트랜잭션 관련해서 어떻게 작업을 처리할 것인지
					- JDBC: 트랜잭션을 개발자가 직접 관리하겠다. (수동 commit)
					- MANAGED: 개발자가 트랜잭션에 대해 어떤 영향도 끼치지 않겠다. (자동 commit)
			-->
			<transactionManager type="JDBC"/>
			
			<!--  
				* dataSource의 type 속성은 POOLED랑 UNPOOLED 중 하나 선택해서 작성
				  Connection Pool: Connection 객체를 담아둘 수 있는 영역
				  				   한 번 생성된 Connection을 재사용
				  				   요청 들어올 때마다 새로 만드는 것이 아니라 Connection을 미리 만들어둬서 요청하면 줌
				  				   → 자원, 시간을 아낄 수 있음
				  - POOLED → 사용O
				  - UNPOOLED → 사용X
				  	(보편적으로는 사용함)
			-->
			<dataSource type="POOLED">
						<!-- name=필드, value=대입할 값 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@112.221.156.34:12345:XE"/>
				<property name="username" value="KH24_JAR"/>
				<property name="password" value="KH1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- mappers: 실행할 SQL문을 기록해둔 mapper 파일을 등록 -->
	<mappers>
		<!-- classes/mappers/member-mapper.xml 등록 -->
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
	</mappers>

</configuration>