<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<insert id="insertBoard"
			parameterType="boardDTO">
		INSERT
		  INTO 
		  	   KH_BOARD
		VALUES
			 (
			   SEQ_KH_BOARD.NEXTVAL
			 , #{ boardCategory }
			 , #{ boardWriter }
			 , #{ boardTitle }
			 , #{ boardContent }
			 , DEFAULT
			 , DEFAULT
			 )
	</insert>
	
	<sql id="boardcolumns">
		SELECT
				BOARD_NO boardNo
			  , BOARD_CATEGORY boardCategory
			  , MEMBER_NAME boardWriter
			  , BOARD_TITLE boardTitle
			  , CREATE_DATE createDate
			  , COUNT
	</sql>
	
	
	<select id="selectBoards"
			resultType="boardDTO">
		<include refid="boardColumns"/>
		  FROM
		  		KH_BOARD
		  JOIN
		  		KH_MEMBER ON (BOARD_WRITER = MEMBER_ID)
		 ORDER
		    BY
		    	CREATE_DATE DESC 
	</select>
	
	<select id="selectBoardCount"
			resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		KH_BOARD
	</select>
	
	<update id="increaseCount"
			parameterType="_int">
		UPDATE
				KH_BOARD
		   SET
		 		COUNT = COUNT + 1
	     WHERE
	     		BOARD_NO = #{ boardNo }
	</update>
	
	<select id="findByBoardNo"
			parameterType="_int"
			resultType="boardDTO">
		<include refid="boardcolumns"/>
				, BOARD_CONTENT boardContent
		  FROM
		  		KH_BOARD
		  JOIN
		  		KH_MEMBER ON (MEMBER_ID = BOARD_WRITER)
		  WHERE 
		 		BOARD_NO = #{ boardNo }
	</select>
</mapper>